*{
    padding: 0;
    margin: 0;
}
.container section{
    width: 70%;
    display: flex;
    margin:auto;
    color: #fff;
}

.container section .content{
    background: #88AB8E;
    padding: 10px 30px;
    text-align: center;
}
.learnMore{
    padding: 30px;
}
.learnMore a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.learnMore a:visited{
    color: #888;
}
.learnMore a:hover{
    color:#ccc;
}