
.container section{
    width: 70%;
    display: flex;
    margin:auto;
}

.container section .content{
    background: #88AB8E;
    padding: 10px 30px;
    text-align: center;
}
.learnMore{
    padding: 30px;
}
.learnMore a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.learnMore a:visited{
    color: #888;
}
.learnMore a:hover{
    color:#ccc;
}
.container section{
    height: 400px;
}
.content {
    text-align: center;
    padding: 50px;
}
.technologyDetails{
    padding: 30px;
    text-align: center;
}
.aboutTechnology{
    background-color: #EEE7DA;
}
.blogHistory{
    padding: 30px;
    text-align: center;
    background-color: #EEE7DA;
}
.dailyLifeImpact{
    padding: 30px;
    text-align: center;
    background-color: #EEE7DA;
}
.conclusion-1{
    padding: 50px;
    background-color: #EEE7DA;

}