

/* body */
.body-flex-items{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    
}
.body-flex-items .printer{
    flex-basis: 380px;
    /* flex basis is determining the size of the card */
}

.body-main{
    padding: 32px;
    margin-left: 32px;  
    margin-right: 32px;
    margin-top: 32px;
    border-radius: 10px;
    border-style:dotted;
    border-color: gray;
    
}
.printer a{
    text-decoration: none;
}
/* body-card */

.card{
    background-color:#88AB8E;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 48px;
    
    
}
.card:hover{
    background-color:#4d6b52 ;
    transition-duration: 1s;

    img{
        height: 190px !important;
        padding: 12px;
        /* the padding change is to makeup for the fact increase in size of the image */
    }
    .shop{
        text-decoration:underline;
    }

}
.card .title{
    padding: 8px;
    font-size: 32px;
    color: white;
    font-weight: bold;

}
.card .subtitle{
    color: white;
    padding:10px 20px;
    font-size: 14px;
    text-align: justify;
    
}
.card img{
    padding:16px ;
    border-radius: 25px;
    height: 180px;
}
.card .shop{
    text-align: left;
    padding: 0 18px;
    color:white;
    font-weight: bold;
  
}

/* body-card */

/* body */

/* .pagination-main{
    text-align: center;
}
.pagination-main ul{
    list-style: none;
}
.pagination-main ul li{
    display: inline-block;
    margin:8px 16px;
}
.pagination-main ul li a{
    text-decoration: none;
    color:white;
    background-color:#888;
    padding: 1rem;
    border-radius: 5px;
}
.pagination-main ul li a:hover{
    background-color: #333;
}
.pagination-main ul li .active{
    background-color: #4d6b52;
    font-weight: 900;
} */
.card a ul li{
    color:white;
    text-align: left;
    padding: 0 16px;
    font-size: 14px;
}
.card a ul{
    /* list-style:none; */
    list-style-position: inside;
}

.card .cart p {
                 color: white;
                background-color: #333;
                width: fit-content;
                padding: 10px;
                margin-bottom: 16px;
                position: relative;
                left: 50%;
                transform: translate(-50%);
                border-radius: 5px;
}

.card .cart p:hover {
    background-color:black;
}
.card del,.card p{
    color: white;
}