*{
    padding: 0;
    margin: 0;
    font-family: 'Comic Neue', cursive;
}

/* navbar */
nav{
    /* position:fixed !important; */
    width: 100%;
}
nav ul{
    list-style: none;
}
.nav-flex-container{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;

    align-items:center;
    justify-content: space-between;
}
.nav-flex-items li{
    display: inline-block;
    
}
.nav-flex-items li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 1.1rem;  
    text-transform: uppercase;  
}
.nav-flex-items img{
    height: 50px;
    margin-left: 40px;
}
.nav-flex-items li a:hover{
    
    padding: 1rem;
    background-color:rgb(49, 49, 49);
    border-radius: 5px;
    
}
.nav-flex-container .nav-flex-items:nth-child(2){
    margin-right: 40px;
}
/* navbar */



/* body */
.body-flex-items{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    
}
.body-flex-items .printer{
    flex-basis: 380px;
}

.body-main{
    background-color: rgb(59, 59, 59);
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
}

/* body-card */
.card{
    background-color: green;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.card .title{
    padding: .5rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;

}
.card .subtitle{
    padding: .5rem;
    color: white;
}
.card img{
    padding:1rem ;
}

/* body-card */

/* body */