*{
    padding: 0;
    margin: 0;
    font-family: 'Comic Neue', cursive;
}

/* body */
.body-flex-items{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    
}
.body-flex-items .printer{
    flex-basis: 380px;
}

.body-main{
    background-color: rgb(59, 59, 59);
    padding: 1rem;
    margin-left: 2rem;  
    margin-right: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
}

/* body-card */
.card{
    background-color:#88AB8E;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    
}
.card:hover{
    background-color: grey;
    transition-duration: 1s;
}
.card .title{
    padding: .5rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;

}
.card .subtitle{
    padding: .5rem;
    color: white;
}
.card img{
    padding:1rem ;
}

/* body-card */

/* body */