body{
    background: #ccc;
}
section .refrence{
    margin: auto !important;
}
section .refrence tbody tr td .contactImg{
    width: 600px ;
    height: 250px;
    object-fit: contain;
}
section .refrence tbody tr td .blogImg{
    width: 500px ;
    height: 500px;
    object-fit: contain;
}
section .refrence tbody tr td .productImg{
    width: 550px ;
    height: 500px;
    object-fit: contain;
}
table{
    background: #fff;
}
td{
    padding: 20px 0 ;
}