* {
    margin: 0;
    padding: 0;
    
    
}
:root {
    --primary-color:#88AB8E;
    --primary-color-light: #AFC8AD;
    --secondary-color: #EEE7DA;
    --secondary-color-light: #F2F1EB;
    --text-black: #000000;
    --text-gray: #666666;
}
.primary{
    background-color: var(--primary-color);
}
.primary-light{
    background-color: var(--primary-color-light);
}
.secondary{
    background-color: var(--secondary-color);
}
.secondary-light{
    background-color: var(--secondary-color-light);
}
.bg-primary{
    background-color: var(--text-primary);
}
.bg-secondary{
    background-color: var(--text-secondary);
}
.text-primary{
    color: var(--primary-color);
}
.text-primary-light{
    color: var(--primary-color-light);
}
.text-secondary{
    color: var(--secondary-color);
}
.text-secondary-light{
    color: var(--secondary-color-light);
}
.text-black{
    color: var(--text-black);
}
.text-gray{
    color: var(--text-gray);
}

/* navbar */
nav{
    /* position:fixed !important; */
    width: 100%;
}
nav ul{
    list-style: none;
}
.nav-flex-container{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;

    align-items:center;
    justify-content: space-between;
}
.nav-flex-items li{
    display: inline-block;
    
}
.nav-flex-items li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 1.1rem;  
    text-transform: uppercase;  
}
.nav-flex-items img{
    height: 50px;
    margin-left: 40px;
}
.nav-flex-items li a:hover{
    
    padding: 1rem;
    background-color:rgb(49, 49, 49);
    border-radius: 5px;
    
}
.nav-flex-container .nav-flex-items:nth-child(2){
    margin-right: 40px;
}
/* navbar */